<mat-toolbar class="header">
    <small>
      <mat-label class="header-list">ข้อมูลรายชื่อพนักงาน</mat-label>
    </small>
</mat-toolbar>
<mat-divider></mat-divider>
<form>
  <mat-form-field class="search" appearance="fill">
    <mat-label>ค้นรายชื่อพนักงาน</mat-label>
    <input #search matInput (keyup)="onKeyup($event)" placeholder="กรุณาพิมพ์รายชื่อพนักงาน">
  </mat-form-field>
</form>
<mat-card class="employee-list" (click)="onChooseEmployee(item)"  *ngFor="let item of filterList; let i = index;">
  <img src = "{{item.image}}" class="avatar"> {{item.name}} {{item.lastname}}
</mat-card>


