<h2 mat-dialog-title>เข้างาน-ออกงาน</h2>
<mat-dialog-content fxLayout="column" fxLayoutAlign="space-around ">


<form [formGroup]="workDateForm" >

   <div fxLayout="column">
   
   <mat-form-field appearance="fill" >
    <mat-label>เลือกรายชื่อพนักงาน</mat-label>
    <mat-select [(value)]="selected" formControlName="employeeId">
      <mat-option [value]="item.employeeId"   *ngFor="let item of employeeData">{{item.name}} {{item.lastname}}</mat-option>
    </mat-select>
  </mat-form-field> 

  <mat-form-field>
   <input matInput formControlName="date"  [matDatepicker]="picker" placeholder="กรุณาเลือกวันที่">
   <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
   <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>กรุณาเลือก</mat-label>
    <mat-select formControlName="work" >
      <mat-option value="เข้างาน">เข้างาน</mat-option>
      <mat-option value="ออกงาน">ออกงาน</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <div fxLayout="row">
      <input matTimepicker formControlName="timeIn"  placeholder="กรุณาเลือกเวลา" >
      <mat-icon>schedule</mat-icon>
    </div>
 </mat-form-field>
 

</div>
<div fxLayout="row">
 <button class="btn-in"  (click)="onSubmit()">ยืนยัน</button>
</div>
</form>


</mat-dialog-content>
