<mat-drawer-container class="stock-container">
    <mat-drawer fxLayout="column" class="stock-left-panel" mode="side" opened="true" position="start">
        <app-stock-list></app-stock-list>
    </mat-drawer>
    <mat-drawer-content class="stock-content-panel" fxLayout="column">
        <div fxLayout="column" fxFlexFill>
            <div fxLayout="row">
                <mat-toolbar>
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex>
                        <div fxLayoutAlign="start center">
                            <div>
                                <button mat-button (click)="openStockManageDialog()">จัดการสต๊อกสินค้า</button>
                            </div>
                            <!-- <section>
                                <label style="padding-right: 15px;">เรียงตาม:</label>
                                <mat-radio-group>
                                    <mat-radio-button style="padding-right: 15px;" value="after">นำเข้า
                                    </mat-radio-button>
                                    <mat-radio-button style="padding-right: 15px;" value="before">นำออก
                                    </mat-radio-button>
                                </mat-radio-group>
                            </section> -->
                        </div>
                        <div>
                            <span style="padding-right: 15px;">ค้นหาตามช่วงเวลา</span>
                            <mat-form-field appearance="legacy">
                                <mat-label>Enter a date range</mat-label>
                                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                    <input matStartDate formControlName="start" placeholder="Start date">
                                    <input matEndDate formControlName="end" placeholder="End date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start
                                    date</mat-error>
                                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date
                                </mat-error>
                            </mat-form-field>
                            <button mat-button (click)="onChooseDate()">ค้นหา</button>
                        </div>
                        <div>
                            <button mat-button color="primary">
                                <label>สรุปรายการสินค้า</label>
                            </button>
                        </div>
                    </div>
                </mat-toolbar>
            </div>
            <app-stock-table></app-stock-table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>