<mat-drawer-container class="stock-container">
    <mat-drawer fxLayout="column" class="stock-left-panel" mode="side" opened="true" position="start">
        <mat-toolbar class="mat-toolbar-left">
            <div fxFill fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                    <span name="mat-toolbar-left">รายการสินค้า</span>
                </div>
                
            </div>
        </mat-toolbar>
    </mat-drawer>
</mat-drawer-container>