<h2 mat-dialog-title>เพื่มรายการ</h2>
<div align="center">
  <form [formGroup]="customerForm">
    <div>
      <mat-form-field class="width">
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date" date>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div hidden>
      <mat-form-field>
        <input matInput formControlName="lastName" placeholder="lastName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="width">
        <input matInput min="1" formControlName="documentNo" type="number" onfocus="this.value=''"
          placeholder="เลขที่เอกสาร">
      </mat-form-field>
    </div>
    <div>
      <mat-radio-group  formControlName="description" >
        <mat-radio-button class="padding" value="เงินเข้า" (click)="onSelectOn()">deposit</mat-radio-button>
        <mat-radio-button value="เงินออก" (click)="onSelectOf()">withdraw</mat-radio-button>
      </mat-radio-group>
    </div><br>
    <div *ngIf="readioSelectedOn == readioSelectedOf" >
      <mat-form-field class="width" >
        <input matInput formControlName="deposit" type="number" onfocus="this.value=''" class="example-right-align"
          placeholder="เงินเข้า" >
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
    <div *ngIf="readioSelectedOf" >
      <mat-form-field class="width">
        <input matInput formControlName="withdraw" type="number" onfocus="this.value=''" class="example-right-align"
          placeholder="เงินออก" >
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="width" appearance="outline">
        <mat-label>สถานที่ใช้งาน</mat-label>
        <mat-select formControlName="placeOfUse">
          <mat-option *ngFor="let item of placeOfUses" [value]="item.item">
            {{item.item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button mat-dialog-close type="submit" [disabled]="!customerForm.valid" (click)="onSubmit()">
      add</button>
    <button class="close" mat-raised-button mat-dialog-close type="close">
      close</button>
  </form>
</div>
