<h2 mat-dialog-title>เพื่มรายการ</h2>

<div>
  <form [formGroup]="customerForm">
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div >
      <mat-form-field>
        <input  matInput formControlName="lastName" placeholder="lastName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input  matInput formControlName="documentNo" placeholder="เลขที่เอกสาร">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>รายการ</mat-label>
        <mat-select formControlName="description" >
          <mat-option *ngFor="let item of descriptions" [value]="item.viewValue">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div >
      <mat-form-field >
        <input matInput formControlName="deposit" placeholder="เงินเข้า">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="withdraw" placeholder="เงินออก" >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="placeOfUse" placeholder="สถานที่ใช้งาน">
      </mat-form-field>
    </div>
    <button mat-raised-button mat-dialog-close type="submit" [disabled]="!customerForm.valid" (click)="onSubmit()">
      เพื่มรายการ</button>
    <button class="close" mat-raised-button mat-dialog-close type="close">
      close</button>
  </form>
</div>
