.close{
    margin-left: 15px;
}
.padding{
    padding: 7%;
}
.example-right-align {
    text-align: right;
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
input.example-right-align {
    -moz-appearance: textfield;
}
.width{
    width: 100%;
}
.width-area{
    width: 100%;
}
.radio{
    padding: 15%;
}
.margin-radio{
    margin-right: 15%;
}
.fileupload{
    margin-right: 65%;
    font-size: 10px;
}