<h2 mat-dialog-title>เพื่มรายการ</h2>
<div>
  <form [formGroup]="customerForm">

    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="documentNo" placeholder="เลขที่เอกสาร">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="list" placeholder="รายการ">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="admit" placeholder="รับเข้า">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="pay" placeholder="จ่าย">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="placeOfUse" placeholder="สถานที่ใช้งาน">
      </mat-form-field>
    </div>
    <button mat-raised-button mat-dialog-close type="submit" [disabled]="!customerForm.valid" (click)="onSubmit()">
      Update Profile</button>
  </form>
</div>