.card{
    width: 389px;
    height: 220px;
    border: solid black;
}
.toolbar{
    width: 1040px;
    height: 50px;
    background-color: lightskyblue;
    border: solid black;
}
.btn{
    border: solid black;
  }

.card-categories{
    width: 350px;
    height: 180px;
    border: solid black;
}

.card-actions{
    margin-left: 87px;
    padding-top: 1px ;
}
.btn-confirm{
  width: 97px;
}
.btn-cancel{
    width: 97px;
    
}
.font-code{
    margin-right: 10px;
}
.font-name{
    margin-right: 16px;
}
