<div fxLayout="column">
  <div fxLayout="row">
    <mat-toolbar class="toolbar" fxLayoutAlign="center">
      <p>จัดการหมวดหมู่สินค้า</p>
    </mat-toolbar>
    <div class="btn" fxLayoutAlign="end">
      <button (click)="closeDialog()">X</button>
    </div>
  </div>
  
  <div fxLayout="row">
    <mat-card class="card">
      <mat-card class="card-categories">
        <form [formGroup]="categoriesForm">
          <label class="font-code">รหัสหมวดหมู่:</label>
          
          <mat-form-field   appearance="fill">
            <mat-label>กรอกรหัสหมวดหมู่</mat-label>
            <input matInput   formControlName="id" >
          </mat-form-field>

          <br>
          <label class="font-name">ชื่อหมวดหมู่:</label>
          <mat-form-field appearance="fill">
            <mat-label>กรอกชื่อหมวดหมู่</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-card-actions class="card-actions">
            <button class="btn-confirm" mat-raised-button color="primary" (click)="addCategories()">ยืนยัน</button>
            <button class="btn-cancel" mat-raised-button color="primary" (click)="closeDialog()">ยกเลิก</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </mat-card>
  </div>
</div>