.img {
    width: 300px;
    height: 300px;
    font-size: 45px;
  }
  .card {
    padding: 20px;
    width: 300px;
    height: 400px;
    border: solid black;
  }
  .form{
    margin-right: 5px;
    width: 90%;
}
.id{
  width: 30%;
}
.age{
  margin-right: 5px;
  width: 30%;
}
.jobPositions{
  width: 60%;
}

.card-menu{
  padding: 20px;
  width: 380px;
  height: 443px;
  border: solid black;
}
.addimage{
  color: rgb(194, 194, 194);
}

