<div fxLayoutAlign="end">
    <button mat-icon-button (click)="onbackClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form [formGroup]="userForm">
    <div fxLayout="row">
        <mat-card (click)="fileUpload.click()" class="card">
            <p class="addimage">Add Image</p>
            <img class="img" [src]="srcImg">
        </mat-card>

        <mat-card fxLayout="column" class="card-menu">

            <input type="file" #fileUpload (change)="onFileUpload($event)" hidden />
            <div>
                <mat-form-field class="id">
                    <input matInput formControlName="employeeId" placeholder="รหัสพนักงาน">
                </mat-form-field>
            </div>


            <div>
                <div>
                    <mat-form-field class="form">
                        <input matInput formControlName="name" placeholder="ชื่อ">
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div>
                    <mat-form-field class="form">
                        <input matInput formControlName="lastname" placeholder="นามสกุล">
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div>
                    <mat-form-field class="form">
                        <input matInput formControlName="tel" placeholder="เบอร์โทรศัพท์">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row">
                <div>
                    <mat-form-field class="age">
                        <input matInput formControlName="age" placeholder="อายุ">
                    </mat-form-field>

                    <mat-form-field class="jobPositions">
                        <input matInput formControlName="jobPositions" placeholder="ตำแหน่ง">
                    </mat-form-field>
                </div>
            </div>


            <div>
                <div>
                    <mat-form-field class="form">
                        <mat-label>ที่อยู่</mat-label>
                        <textarea matInput formControlName="address" placeholder="ที่อยู่"></textarea>
                    </mat-form-field>
                </div>
            </div>



            <button mat-raised-button (click)="onSubmit()"> Update Profile</button>
        </mat-card>
    </div>
</form>