<div>
    <form [formGroup]="userForm">
        <div>
            <div>
                <mat-form-field>
                    <input matInput formControlName="employeeId" placeholder="รหัสพนักงาน" >
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <div>
                <mat-form-field>
                    <input matInput formControlName="name" placeholder="ชื่อ">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput formControlName="lastname" placeholder="นามสกุล" >
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row">
            <div>
                <mat-form-field>
                    <input matInput formControlName="tel" placeholder="เบอร์โทรศัพท์" >
                </mat-form-field>
            </div>
       
            <div>
                <mat-form-field>
                    <input matInput formControlName="address" placeholder="ที่อยู่" >
                </mat-form-field>
            </div>
        </div>

        <div>
            <div>
                <mat-form-field>
                    <input matInput formControlName="age" placeholder="อายุ" >
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row">
            <div>
                <mat-form-field>
                    <input matInput formControlName="nationality" placeholder="สัญชาติ" >
                </mat-form-field>
            </div>
       
            <div>
                <mat-form-field>
                    <input matInput formControlName="religion" placeholder="ศาสนา" >
                </mat-form-field>
            </div>
        </div>

        <button mat-raised-button (click)="onSubmit()"> Update Profile</button>
        <button mat-raised-button (click)="onbackClick()">close</button>
    </form>
</div>

