<mat-drawer-container>
    <mat-drawer #leftSide mode="side" position='start' opened>
        <app-employeelist></app-employeelist>
    </mat-drawer>    
    <mat-drawer #rightSide mode="side" position='end' opened>
        <app-employeeprofile class="profile"></app-employeeprofile>
    </mat-drawer>
    <mat-drawer-container class="middle">
        <div fxLayout="row">
                <button (click)="leftSide.toggle()" class="button-left" fxLayoutAlign="start">
                    <mat-icon>
                        fast_forward
                    </mat-icon>
                </button>

                <button (click)="rightSide.toggle()" class="button-right" fxLayoutAlign="end">
                    <mat-icon>
                        fast_rewind
                    </mat-icon>
                </button>
        </div>

        <form>
            <button mat-button (click)="openDialog('new')">Add</button>
            <button mat-button (click)="openDialogLeft()">I/O</button>
        </form>
        <app-employee-table></app-employee-table>
    </mat-drawer-container>

</mat-drawer-container>