<mat-drawer-container>
    <mat-drawer #leftSide mode="side" position='start' opened>
        <app-employeelist></app-employeelist>
    </mat-drawer>
    <mat-drawer #rightSide mode="side" position='end' opened>
        <app-employeeprofile class="profile"></app-employeeprofile>
    </mat-drawer>
    <mat-drawer-container class="middle">
        <div fxLayout="row">
            <button (click)="leftSide.toggle()" class="button-left" fxLayoutAlign="start">
                <mat-icon>
                    chevron_right
                </mat-icon>
            </button>
            <button (click)="rightSide.toggle()" class="button-right" fxLayoutAlign="end">
                <mat-icon>
                    chevron_left
                </mat-icon>
            </button>
        </div>
        <form>
            <button mat-button (click)="openDialog('new')">เพิ่มข้อมูลพนักงาน</button>
            <button mat-button (click)="openDialogAttendance()">เข้างาน/ออกงาน</button>
        </form>



        <app-employee-table></app-employee-table>
       

    </mat-drawer-container>

</mat-drawer-container>