<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxFlex="10">
    <mat-toolbar class="test" fxLayoutAlign="center" fxFlex>
      <p>รายละเอียดสินค้า</p>
    </mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="end">
      <button class="btn" (click)="closeDialog()">X</button>
    </div>
  </div>

  <div fxLayout="row">
    <mat-card class="card">
      <img class="img" src="https://www.chiiwiidoctor.com/assets/images/default-profile.jpg">
    </mat-card>
    <mat-card fxLayout="column" class="card-menu">
      <form [formGroup]="productForm">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>รหัสสินค้า</mat-label>
          <input matInput formControlName="productId">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>ชื่อสินค้า</mat-label>
          <input matInput formControlName="productName">
        </mat-form-field>
        <mat-form-field  class="full-width">
          <mat-label>หมวดหมู่สินค้า</mat-label>
          <input matInput formControlName="category"  [matAutocomplete]="autoProductCode">
          <mat-autocomplete #autoProductCode=matAutocomplete>
            <mat-option *ngFor="let item of categories;" [value]="item.name">
              {{item.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>รายละเอียดสินค้า </mat-label>
          <textarea class="text-area" matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>จำนวน</mat-label>
          <input matInput type="number" required formControlName="count">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>ราคา</mat-label>
          <input matInput type="number" required formControlName="price">
        </mat-form-field>
        <mat-card-actions>
          <button mat-button (click)="addProduct()">ยืนยัน</button>
        </mat-card-actions>

      </form>
    </mat-card>
  </div>
</div>
