.detail {
  background-color: lightslategray;
  padding: 20px;
  width: 1000px;
  height: 500px;
  border: solid black;
}
.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 323;
  height: 321;
  border: solid black;
}
.test {
  border: solid black;
  font-size: 45px;
  padding: 10px;
  height: 64px;
}
.btn {
  height: 64px;
  padding: 5px;
  border: solid black;
  font-size: 45px;
}
.img {
  margin-top: 100px;
  width: 323px;
  height: 321px;
  font-size: 45px;
  border: solid black;
  
}
.text{
  font-size:25px;
  padding: 28px;
  height: 35px;

}

.card-menu{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 1000px;
  height: 585px;
  border: solid black;
}

.input{
  margin-bottom: 100px;
}

.full-width {
  width: 100%;
}

.text-area {
  width: 100%;
  height: 50px;
  
}
.btn-confirm{
 margin-left: 1px;
}