.detail {
  background-color: lightslategray;
  padding: 20px;
  width: 1000px;
  height: 500px;
  border: solid black;
}
.card {
  background-color: lightskyblue;
  padding: 20px;
  width: 1000px;
  height: 500px;
  border: solid black;
}
.test {
  border: solid black;
  font-size: 45px;
  padding: 10px;
  height: 64px;
}
.btn {
  height: 64px;
  padding: 5px;
  border: solid black;
  font-size: 45px;
}
.img {
  padding: 10px;
  width: 670px;
  height: 470px;
  font-size: 45px;
}
.text{
  font-size:25px;
  padding: 28px;
  height: 35px;

}
