.detail {
  background-color: lightslategray;
  padding: 20px;
  width: 1000px;
  height: 500px;
  border: solid black;
}
.card {
  background-color: lightskyblue;
  padding: 20px;
  width: 1000px;
  height: 500px;
  border: solid black;
}
.test {
  border: solid black;
  font-size: 45px;
  padding: 10px;
  height: 64px;
}
.btn {
  height: 64px;
  padding: 5px;
  border: solid black;
  font-size: 45px;
}
.img {
  margin-top: 50px;
  width: 430px;
  height: 399px;
  font-size: 45px;
}
.text{
  font-size:25px;
  padding: 28px;
  height: 35px;

}

.card-menu{
  background-color: lightskyblue;
  padding: 20px;
  width: 1000px;
  height: 545px;
  border: solid black;
}

.input{
  margin-bottom: 100px;
}

.full-width {
  width: 100%;
}