<div>
  <mat-toolbar>
    <label class="font-head">เรียงตาม</label>
    <mat-form-field class="font-category">
      <mat-label>หมวดหมู่สินค้า</mat-label>
      <mat-select class="font">
        <mat-option *ngFor="let item of productCategories;let i = index" [value]="i">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="font-search" appearance="standard">
      <mat-label>ค้นหา</mat-label>
      <input matInput placeholder="กรอกชื่อสินค้า">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="button-add">
      <button mat-button color="primary" (click)="openDialogCategories()">จัดการหมวดหมู่</button>
      <button mat-button color="primary" (click)="openDialogProduct()">เพิ่มสินค้า</button>
    </div>
  </mat-toolbar>

  <div fxLayout="row warp">
    <div *ngFor="let item of productData">
      <mat-card class="card">
        <button class="button-test" mat-icon-button [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="font-menu" #menu="matMenu">
          <button mat-menu-item>
            <mat-icon (click)="delete(item)">deletel</mat-icon><span>ลบ</span>
          </button>
        </mat-menu>
        <div (click)="openDialogProduct(item)">
          <img class="img" src="https://www.chiiwiidoctor.com/assets/images/default-profile.jpg">
          <div>
            <content>
              <p>
                ชื่อสินค้า: {{item.productName}}
              <p>
                ราคา: {{item.price}}
              <p>
                จำนวนคงเหลือ: {{item.count}}
              <p>
            </content>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>