.font-head{
    font-size: 20px; 
    margin-top: 24px;
}

.font-category-add{
 color: rgb(6, 103, 248);
}


.font-category{
  margin-left: 50px;
  font-size: 20px;
  color: dimgrey;
  margin-top: 32px;
}  
.font{
    font-size: 20px;
    color: black;
}

.font-search{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 17px;
    width: 500px;
}

.button-add{
    margin-left: 600px;
}

.card{
    // margin-bottom: -px;
    margin-top: 50px;
    margin-left: 57px;
    margin-right: 17px;
    width: 160px;
    height: 307px;
    border: solid black;
}

.img{
    // margin-left: px;
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
    
}
.toolbar-card{
    
    height: 20px;
    width: 100%;
}

.test-card{
    margin-top: 50px;
    margin-left: 57px;
    margin-right: 17px;
    width: 160px;
    height: 210px;
    color: #000;
}

.button-test{
    margin-left: 135px;
}

.font-menu{
    font-size: 15px;
}

.icon{
    margin-top: 17px;
}

.mat-option-name{
    width: 132px;
}

.header{
    height: 5vh;
    border:1px solid gray;
    background-color: #dddddd;
}
.footer{
  height: 5vh;
  padding-left: 20px;
  padding-right: 20px;
  border:1px solid gray;
  
}
.font-type{
    margin-right: 10px;
}

.redClass{
    color: crimson;
}

.content{
    height:516px;
    overflow: auto;
}

.table-width{
    width: 1300px;}

.footer-end{
    height: 5vh;
    padding-left: 20px;
    border:1px solid gray;
    
}

.button-add-product{
    margin-right: 30px;
}
