.font_head{
    font-size: 20px; 
    margin-top: 24px;
}


.font_category{
  margin-left: 50px;
  font-size: 20px;
  color: dimgrey;
  margin-top: 32px;
}  
.font{
    font-size: 20px;
    color: black;
}

.font_search{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 17px;
    width: 500px;
}

.button-add{
    margin-left: 400px;
}

.card{
    margin-top: 50px;
    margin-left: 57px;
    margin-right: 17px;
    width: 160px;
    height: 210px;
}

.img{
    margin-left: 20px;
    width: 120px;
    height: 120px;
}
.toolbar-card{
    height: 20px;
    width: 100%;
}

.testcard{
    margin-top: 50px;
    margin-left: 57px;
    margin-right: 17px;
    width: 160px;
    height: 210px;
    color: #000;
}
