<app-toolbar></app-toolbar>

<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <mat-toolbar class="test">
            <mat-toolbar-row>
                <small>
                    <mat-label>Search : </mat-label>
                    <input>
                </small>
            </mat-toolbar-row>
        </mat-toolbar>
        <div>
            <mat-card>
                <p>

                </p>
                <p>
                    
                </p>
            </mat-card>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <app-table></app-table>
    </mat-drawer-content>
</mat-drawer-container>

<form>
    <mat-toolbar style="height: 5.9vh;">
        <button class="button-customer">เพิ่มผู้ใช้</button>
    </mat-toolbar>
</form>