<div fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
    <mat-toolbar fxFlex="0 1 auto" class="stock-manage-header">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <mat-icon style="margin-right: 10px;">pending_actions</mat-icon>
            <div fxFlex="1 0 auto">จัดการสต๊อกสินค้า</div>
            <div>
                <button type="button" name="btn-modal-close" mat-icon-button>
                    <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <div fxLayout="column" style="padding-top: 40px;" fxFlex="1 0 auto">
        <form [formGroup]="stockForm">
            <div class="requirement-info-right" fxLayout="column" fxFlex fxLayoutAlign="start stretch"
                fxLayoutGap="0.8rem">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                    <label class="form"> รหัสสินค้า:</label>
                    <mat-form-field>
                        <mat-label>รหัสสินค้า</mat-label>
                        <input matInput formControlName="productId" name="name">
                    </mat-form-field>
                </div>
                <!-- <mat-form-field class="example-full-width">
                    <mat-label>ชื่อสินค้า</mat-label>
                    <input type="text"
                           placeholder="Pick one"
                           aria-label="Number"
                           matInput
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of productList | async" [value]="option">
                        {{option.productName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
                <div fxLayout="row" fxFlex>
                    <label class="form" fxLayoutAlign="start center"> ชื่อสินค้า:</label>
                    <mat-form-field class="example-full-width">
                        <mat-label>ชื่อสินค้า</mat-label>
                        <input type="text" formControlName="productName" matInput [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of productList" [value]="option.productName">
                                {{option.productName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex>
                    <label class="form" fxLayoutAlign="start center"> ประเภทสินค้า:</label>
                    <mat-form-field>
                        <mat-label>ประเภทสินค้า</mat-label>
                        <input type="text" formControlName="productType" matInput [matAutocomplete]="auto1">
                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                            <mat-option *ngFor="let item of productList" [value]="item.type">
                                {{item.type}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxFlex>
                    <label class="form" fxLayoutAlign="start center"> สถานะสินค้า:</label>
                    <mat-form-field>
                        <mat-label>สถานะ</mat-label>
                        <mat-select formControlName="status">
                            <mat-option [value]="item.name" *ngFor="let item of status">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex>
                    <label class="form" fxLayoutAlign="start center"> จำนวนสินค้า:</label>
                    <mat-form-field>
                        <mat-label>จำนวนสินค้า</mat-label>
                        <input matInput formControlName="count" name="name">
                    </mat-form-field>
                </div>
                <div fxLayoutAlign=" center">
                    <button mat-flat-button color="primary" (click)="onSubmit()">ยืนยัน</button>
                </div>
            </div>
        </form>
    </div>
</div>