.stock-manage-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #F5F5F5;
}
.requirement-info-right {
    margin-left: 1rem;

    mat-label {
        margin-bottom: 3px;
    }
}
.form{
    padding-right: 10px;
}