<mat-toolbar>
  <div fxFill fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <span></span>
      <!-- <img class="app-banner" src="/assets/images/logo/wann.png" alt=""> -->
    </div>
    <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex fxLayout="column" fxLayoutAlign="start center" class="user-info-bar">
        <h3>{{user}}</h3>
      </div>
      <button mat-icon-button>
        <div class="user-button" fxFlex fxLayout="row" fxLayoutAlign="center center">
          k
          <!-- {{(user | shotName)}}{{(user | shotName)}} -->
        </div>
      </button>

      <mat-menu>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>

</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #maindrawer class="sidenav" [mode]="'side'" [opened]="true">
    <mat-nav-list fxFill fxLayout="column" fxLayoutAlign="start center">
      <div fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start center">
        <a name="link-attendance" [routerLink]="['attendance']" routerLinkActive="router-link-active">
          <button mat-icon-button>
            <mat-icon>fact_check</mat-icon>
          </button>
        </a>

        <a name="link-pettychash" [routerLink]="['pettychash']" routerLinkActive="router-link-active">
          <button mat-icon-button>
            <mat-icon>monetization_on</mat-icon>
          </button>
        </a>

        <a name="link-product" [routerLink]="['product']" routerLinkActive="router-link-active">
          <button mat-icon-button>
            <mat-icon>inventory_2</mat-icon>
          </button>
        </a>

        <a name="link-stock" [routerLink]="['stock']" routerLinkActive="router-link-active">
          <button mat-icon-button>
            <mat-icon>storefront</mat-icon>
          </button>
        </a>

      </div>

      <div fxFlex="0 1 auto" fxLayout="column" fxLayoutAlign="end center">
        <a name="link-settings" [routerLink]="['/setting']" routerLinkActive="router-link-active">
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>