.customer-details {
  height: 9vh;
  border: solid rgb(179, 179, 179) 1px;
}

.user-details {
  font-size: 17px;

}
.padding{
  width: 100%;
}
.layout-number{
  text-align: end;
  margin-right:  5px;
}
.fontSize{
  font-size: 16px;
}
.financialAmount{
  margin-top: auto;
}
.width{
  width: 100%;
}
.button-add{
  margin-left: 40%;
}
.negative{
  color: red;
}
.width-matDrawer{
  width: 100;
}
.tableList{
  height:73%;
  overflow: auto;
}
.padding-date{
  width: 30%;
}
.padding-documentNo{
  width: 20%;
}
.padding-deposit-withdraw{
  width: 30%;
}
.padding-placeOfUse{
  width: 40%;
}
.line-table{
  
}
