<mat-toolbar class="customer-details">
  <small>
    <a class="user-details">รายละเอียดผุ้ใช้</a>
    <a class="limit"></a>
    <div fxLayout="column">
      <a> </a>
      <a></a>
    </div>
  </small>
  <button class="button-add" mat-button (click)="openDialog('new')">เพิ่มรายการ</button>
</mat-toolbar>

<mat-divider></mat-divider>

<div align="center" fxLayout="row">
  <div class="padding">
    <ng-container matColumnDef="วันที่">
      <th mat-header-cell> วันที่ </th><br>
      <mat-divider></mat-divider>
      <td fxLayout="column" mat-cell *ngFor="let item of dataSource"> {{item.date | date:"dd/MM/yy"}} <mat-divider>
        </mat-divider>
      </td>
    </ng-container>
  </div>
  <div class="padding">
    <ng-container matColumnDef="เลขที่เอกสาร">
      <th mat-header-cell> เลขที่เอกสาร </th><br>
      <mat-divider></mat-divider>
      <td fxLayout="column" mat-cell *ngFor="let item of dataSource">{{item.documentNo}}
        <mat-divider></mat-divider>
      </td>
    </ng-container>
  </div>
  <div class="padding">
    <ng-container matColumnDef="รายการ">
      <th mat-header-cell> รายการ </th><br>
      <mat-divider></mat-divider>
      <td fxLayout="column" mat-cell *ngFor="let item of dataSource"> {{item.list}}
        <mat-divider></mat-divider>
      </td>
    </ng-container>
  </div>
  <div class="padding">
    <ng-container matColumnDef="รับเข้า">
      <th mat-header-cell> เงินเข้า </th><br>
      <mat-divider></mat-divider>
      <td fxLayout="column" mat-cell *ngFor="let item of dataSource" class="layout-number"> {{item.deposit | number:"0.2"}}
        <mat-divider></mat-divider>
      </td>
    </ng-container>
  </div>
  <div class="padding">
    <ng-container matColumnDef="จ่าย">
      <th mat-header-cell> เงินออก </th><br>
      <mat-divider></mat-divider>
      <td fxLayout="column" mat-cell *ngFor="let item of dataSource" class="layout-number"> {{item.withdraw | number:"0.2"}}
        <mat-divider></mat-divider>
      </td>
    </ng-container>
  </div>
  <div class="padding">
    <ng-container matColumnDef="สถานที่ใช้งาน">
      <th mat-header-cell> สถานที่ใช้งาน </th><br>
      <mat-divider></mat-divider>
      <td fxLayout="column" mat-cell *ngFor="let item of dataSource"> {{item.placeOfUse}}
        <mat-divider></mat-divider>
      </td>
    </ng-container>
  </div>
</div>
<mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
    [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
</mat-paginator>
