.customer-details {
  height: 9vh;
  border: solid rgb(179, 179, 179) 1px;
}

.user-details {
  font-size: 17px;

}
.padding{
  width: 100%;
  height: 4vh;
}
.fontSize{
  font-size: 16px;
}
.financialAmount{
  margin-top: auto;
}
.button-add{
  margin-left: 40%;
}
.negative{
  color: red;
}
.width-matDrawer{
  width: 100;
}
.tableList{
  height:71%;
  overflow: auto;
}
.padding-date{
  width: 30%;
  height: 4vh;
}
.padding-documentNo{
  width: 20%;
  height: 4vh;
}
.padding-deposit-withdraw{
  width: 30%;
  height: 4vh;
  text-align: end;
  margin-right:  5px;
}
.padding-placeOfUse{
  width: 40%;
  height: 4vh;
}
.header{
  background-color: #cccccc;
  border: solid 1px rgb(143, 143, 143);
}
.content{
  border: solid 1px rgb(143, 143, 143);
}
