.customer-details {
  height: 9vh;
}

.user-details {
  font-size: 17px;

}
.padding{
  width: 100%;
}
.layout-number{
  text-align: end;
  margin-right:  5px;
}
.fontSize{
  font-size: 16px;
}
.financialAmount{
  margin-top: auto;
}
.width{
  width: 100%;
}
.button-add{
  margin-left: 40%;
}
.negative{
  color: red;
}
.width-matDrawer{
  width: 100;
}
.tableList{
  height:70%;
  overflow: auto;
}