<div style="overflow: auto; height: 78vh;" >
        <div fxLayout="column">
                <header>
                        <div class="header" fxLayoutAlign="center " fxLayout="row" fxFlex>
                                <p>
                                        วัน-เวลา
                                </p>
                        </div>
                        <div class="header" fxLayoutAlign="center " fxLayout="row" fxFlex>
                                <p>
                                        ชื่อสินค้า
                                </p>
                        </div>
                        <div class="header" fxLayoutAlign="center " fxLayout="row" fxFlex>
                                <p>
                                        จำนวนสินค้านำเข้า
                                </p>
                        </div>
                        <div class="header" fxLayoutAlign="center " fxLayout="row" fxFlex>
                                <p>
                                        จำนวนสินค้านำออก
                                </p>
                        </div>
                </header>

                <div fxLayout="row" *ngFor="let item of productData" fxFlex>
                        <div class="footer" fxLayoutAlign="start center " fxFlex>
                                {{item?.created | date:'dd/MM/yyyy'}}
                        </div>
                        <hr>
                        <div class="footer" fxLayoutAlign="start center " fxFlex>
                                {{item?.productName}}
                        </div>
                        <hr>
                        <!-- *ngIf="item.total === 'นำเข้า'" -->
                        <div class="footer" fxLayoutAlign="start center " fxFlex>
                                <p style="color: green;" *ngIf="item.status === 'นำเข้า'">
                                        {{item?.total}}
                                </p>

                        </div>
                        <hr>
                        <div class="footer" fxLayoutAlign="start center " fxFlex>
                                <p style="color: red;" *ngIf="item.status === 'นำออก'">
                                        {{item?.total}}
                                </p>
                        </div>

                </div>

        </div>
</div>

<mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
        [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
</mat-paginator>