<div fxLayout="column">
    <div style="padding: 15px;" fxLayout="row" fxFlex>
        <div style="padding-left: 25px;" fxFlex="10">
            <p>
                ลำดับ
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="20">
            <p>
                ชื่อสินค้า
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="10">
            <p>
                รหัสสินค้า
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="10">
            <p>
                ประเภทสินค้า
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="10">
            <p>
                จำนวน(คงเหลือ)
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="10">
            <p>
                ราคา
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="30">
            <p>
                วัน-เวลา
            </p>
        </div>
    </div>
    <div style="padding: 15px;" fxLayout="row"  fxFlex>
        <div style="padding-left: 25px;" fxFlex="10">
            <!-- <p>
                {{i+1}}
            </p> -->
        </div>
        <div style="padding-left: 10px;" fxFlex="20">
            <p>

                {{productData?.productName}}
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="10">
            <p>
                {{productData?.productId}}
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="10">
            <p>
                {{productData?.type}}
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="10">
            <p>
                {{productData?.count}}
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="10">
            <p>
                {{productData?.price}}
            </p>
        </div>
        <div style="padding-left: 10px;" fxFlex="10">
            <p>
                {{productData?.created | date}}
            </p>
        </div>
    </div>
</div>
