<div fxLayout="column">
    <header>
        <div style="padding: 15px;" fxLayoutAlign="center center" fxLayout="row" fxFlex>
            <div style="padding-left: 10px;"fxFlex>
                    วัน-เวลา
            </div>
            <div style="padding-left: 10px;" fxFlex>
                    ชื่อสินค้า
            </div>
            <div style="padding-left: 10px;" fxFlex>
                    จำนวนสินค้า
            </div>
            <div style="padding-left: 10px;" fxFlex>
                    สถานะสินค้า
            </div>
        </div>
    </header>

    <div style="padding: 15px;" fxLayout="row" *ngFor="let item of productData" fxFlex>
        <div style="padding-left: 10px;" fxFlex>
                {{item?.created | date}}
        </div>
        <div style="padding-left: 10px;" fxFlex>
                {{item?.productName}}
        </div>
        <div style="padding-left: 10px;" fxFlex>
                {{item?.count}}
        </div>
        <div style="padding-left: 10px;" fxFlex>
                {{item?.status}}
        </div>
    </div>
</div>