<mat-toolbar>
  <p>ข้อมูลพนักงาน</p>
</mat-toolbar>
<mat-divider></mat-divider>
<div class="table-list" fxLayout="row" fxLayoutAlign="space-around stretch">
  <div>
    
    <ng-container matColumnDef="รหัสพนักงาน">
      <th mat-header-cell>รหัสพนักงาน</th>
      <td fxLayout="column" mat-cell *ngFor="let item of employeeData" class="magintop">
        {{item.employeeId}}
      </td>
    </ng-container>
  </div>

  <div>
    <ng-container matColumnDef="ชื่อ">
      <th mat-header-cell>ชื่อ</th>
      <td fxLayout="column" mat-cell *ngFor="let item of employeeData" class="magintop">
        {{item.name}}
      </td>
    </ng-container>
  </div>

  <div>
    <ng-container matColumnDef="นามสกุล">
      <th mat-header-cell>นามสกุล</th>
      <td fxLayout="column" mat-cell *ngFor="let item of employeeData" class="magintop">
        {{item.lastname}}
      </td>
    </ng-container>
  </div>
  
  <div>
    <ng-container matColumnDef="เบอร์โทรศัพท์">
      <th mat-header-cell>เบอร์โทรศัพท์</th>
      <td fxLayout="column" mat-cell *ngFor="let item of employeeData" class="magintop">
        {{item.tel}}
      </td>
    </ng-container>
  </div>

  <div>
    <ng-container matColumnDef="วันที่เข้าทำงาน">
      <th mat-header-cell>วันที่เข้าทำงาน</th>
      <td fxLayout="column" mat-cell *ngFor="let item of employeeData" class="magintop">
        {{item.workDate}}
      </td>
    </ng-container>
  </div>

  <div>
    <ng-container matColumnDef="เวลาเข้างาน">
      <th mat-header-cell>เวลาเข้างาน</th>
      <td fxLayout="column" mat-cell *ngFor="let item of employeeData" class="magintop">
        {{item.timeIn}}
      </td>
    </ng-container>
  </div>

  <div>
    <ng-container matColumnDef="เวลาออกงาน">
      <th mat-header-cell>เวลาออกงาน</th>
      <td fxLayout="column" mat-cell *ngFor="let item of employeeData" class="magintop">
        {{item.timeOut}}
      </td>
    </ng-container>
  </div>


  <div>
    <ng-container  class="menu" matColumnDef="menu">
      <th mat-header-cell>menu</th>
      <td fxLayout="column" mat-cell *ngFor="let item of employeeData">

        <button mat-button [matMenuTriggerFor]="menu" class="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog(item)">Edit</button>
          <button mat-menu-item (click)="delete(item)">Delete</button>
        </mat-menu>

      </td>
    </ng-container>
  </div>

</div>


<mat-paginator #paginator
[pageSize]="10"
[pageSizeOptions]="[5, 10, 20]">
</mat-paginator>