<header>
  <mat-card>
  <a><B>รหัสพนักงาน:</B> {{employeeData?.employeeId}}</a><br>
  <a><B>ชื่อ:</B> {{employeeData?.name}} {{employeeData?.lastname}}</a><br>
  <a><B>เบอร์โทร:</B> {{employeeData?.tel}}</a>

  </mat-card>
  <p></p>
</header>

<div class="center" >
<div align="center" fxLayout="row"  class="padding">

  <div fxFlex="5" class="padding">
    <ng-container matColumnDef="No">
      <th mat-header-cell class="textField"> No </th><br>
      <mat-divider class="padding" ></mat-divider>
      <td fxLayout="column" mat-cell  *ngFor="let item of dataSource;let i = index;"> {{i+1}} 
        <mat-divider></mat-divider>
      </td>
    </ng-container>
  </div>

 
  <div class="padding">
    <ng-container class="padding" matColumnDef="วันที่">
      <th mat-header-cell class="textField">วันที่</th><br>
      <mat-divider class="padding"></mat-divider>
      <td fxLayout="column" mat-cell *ngFor="let item of dataSource"> {{item.date | date:"dd/MM/yyyy"}} 
        <mat-divider ></mat-divider>
      </td>
    </ng-container>
  </div>

  <div class="padding">
    <ng-container class="padding" matColumnDef="เวลาเข้างาน">
      <th mat-header-cell class="textField">เข้างาน</th><br>
      <mat-divider class="padding"></mat-divider>
      <td fxLayout="column" mat-cell *ngFor="let item of dataSource">  {{item.timeIn |date:"h:mm a"}}
        <mat-divider></mat-divider>
      </td>
    </ng-container>
  </div>

  <div class="padding">
    <ng-container class="padding" matColumnDef="เวลาเข้างาน">
      <th mat-header-cell class="textField">ออกงาน</th><br>
      <mat-divider class="padding"></mat-divider>
      <td fxLayout="column" mat-cell *ngFor="let item of dateTimeDataOut">  {{item.timeIn |date:"h:mm a"}}
        <mat-divider ></mat-divider>
      </td>
    </ng-container>
  </div>

</div> 
<!-- <button (click)="filter()"></button> -->
</div>
<mat-paginator #paginator 
 [pageSize]="pageSize" 
 [pageSizeOptions]="[1, 10, 15]"
 [showFirstLastButtons]="true"
 [length]="totalSize"
 [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
</mat-paginator>


 
 
