.padding{
    width: 100%;
    border: 0.01px solid rgb(92, 89, 89);
  }
.textField{
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding-top: 10px;
}
.center{
  height: 50vh;
  overflow: auto;
}


