<mat-toolbar>
  <p>ข้อมูลพนักงาน</p>
</mat-toolbar>
<mat-divider></mat-divider>
<div class="table-list" fxLayout="row"   fxLayoutAlign="space-around stretch">

  
  <div>
    <ng-container matColumnDef="รหัสพนักงาน">
      <th mat-header-cell>รหัสพนักงาน</th>
      <td fxLayout="column" mat-cell class="magintop">
        {{employeeData?.employeeId}}
      </td>
    </ng-container>
  </div>

  <div>
    <ng-container matColumnDef="ชื่อ">
      <th mat-header-cell>ชื่อ</th>
      <td fxLayout="column" mat-cell class="magintop">
        {{employeeData?.name}}
      </td>
    </ng-container>
  </div>

  <div>
    <ng-container matColumnDef="นามสกุล">
      <th mat-header-cell>นามสกุล</th>
      <td fxLayout="column" mat-cell class="magintop">
        {{employeeData?.lastname}}
      </td>
    </ng-container>
  </div>

  <div>
    <ng-container matColumnDef="เบอร์โทรศัพท์">
      <th mat-header-cell>เบอร์โทรศัพท์</th>
      <td fxLayout="column" mat-cell class="magintop">
        {{employeeData?.tel}}
      </td>
    </ng-container>
  </div>

  <div>
    <ng-container matColumnDef="วันที่เข้าทำงาน">
      <th mat-header-cell>วันที่เข้าทำงาน</th>
      <td fxLayout="column" mat-cell class="magintop">
        {{dateTimeData1?.date}}
      </td>
    </ng-container>
  </div>

  <div>
    <ng-container matColumnDef="เวลาเข้างาน">
      <th mat-header-cell>เวลาเข้างาน</th>
      <td fxLayout="column" mat-cell class="magintop">
        {{dateTimeData1?.timeIn}}
      </td>
    </ng-container>
  </div>

  <!-- <div>
    <ng-container matColumnDef="เวลาออกงาน">
      <th mat-header-cell>เวลาออกงาน</th>
      <td fxLayout="column" mat-cell class="magintop">
        {{employeeData?.timeOut}}
      </td>
    </ng-container>
  </div> -->

  <div>
    <ng-container class="menu" matColumnDef="menu" >
      <th mat-header-cell>menu</th>
      <td fxLayout="column" mat-cell>

        <button mat-button [matMenuTriggerFor]="menu" class="menu" >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog(employeeData)">Edit</button>
          <button mat-menu-item (click)="delete(employeeData)">Delete</button>
        </mat-menu>
      </td>
    </ng-container> 
  </div>
 
</div>

<!-- <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator> -->

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{employeeData?.employeeId}} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{employeeData?.name}} </td>
  </ng-container>

 
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> lastname </th>
    <td mat-cell *matCellDef="let element"> {{employeeData?.lastname}} </td>
  </ng-container>


  <ng-container matColumnDef="tel">
    <th mat-header-cell *matHeaderCellDef> tel </th>
    <td mat-cell *matCellDef="let element"> {{employeeData?.tel}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

