
  <mat-card>
<header>
  <img [src] = "employeeData?.image" style="width:100%"> 
  <h2>รายละเอียดพนักงาน</h2>   
 
    
  <a><B>ชื่อ:</B> {{employeeData?.name}} <B>นามสกุล:</B> {{employeeData?.lastname}}</a><br>
  <a><B>เบอร์โทรศัพท์:</B> {{employeeData?.tel}}</a><br>
  <a><B>ที่อยู่:</B> {{employeeData?.address}}</a><br>
  <a><B>อายุ:</B> {{employeeData?.age}}</a><br>
  <a><B>ปี สัญชาติ:</B> {{employeeData?.nationality}}</a><br>
  <a><B>ศาสนา:</B> {{employeeData?.religion}}</a>
</header>


 <mat-menu #menu="matMenu">
    <button  (click)="openDialog(employeeData)">Edit</button>
    <button  (click)="delete(employeeData)">Delete</button>
  </mat-menu>
  </mat-card>
  <p></p>




